.loader {
    text-align: center;
    margin-top: 50px;
}

.flight-list {
    margin: 0 500px;
}

.card {
    cursor: pointer;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: bold;
}

.date {
    font-style: italic;
}